<Section class="top-bar">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-auto">
        <ul class="top-bar__list">
          <li>
            <a href="#"><i class="fas fa-star">QUIZZ</i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-star">MAGAZINE</i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-star">ĐỌC CHẬM</i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-star">HIP-HOP NEVA DIE</i></a>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <div class="top-bar__search">
          <input
            placeholder="Tìm Kiếm..."
            style="background-color: black; border: 0.5px"
          />
        </div>
      </div>
    </div>
  </div>
</Section>
<section class="top-bar__body">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <img src="./../../assets/images/logo.PNG" />
      </div>
      <div class="col-auto">
        <a href="#">#Bé 2 tuổi tử vong trong ngày đầu đi học</a>
      </div>
    </div>
  </div>
</section>
<section class="nav-bar">
  <div class="container">
    <ul class="nav-bar__list">
      <li class="nav-bar__item"><a href="#">Star</a></li>
      <li class="nav-bar__item"><a href="#">TV Show</a></li>
      <li class="nav-bar__item"><a href="#">Cine</a></li>
      <li class="nav-bar__item"><a href="#">Musik</a></li>
      <li class="nav-bar__item"><a href="#">Beauty&Fashion</a></li>
      <li class="nav-bar__item"><a href="#">Xem mua luon</a></li>
      <li class="nav-bar__item"><a href="#">Doi song</a></li>
      <li class="nav-bar__item"><a href="#">An-quay-di</a></li>
      <li class="nav-bar__item"><a href="#">Xa hoi</a></li>
      <li class="nav-bar__item"><a href="#">The gioi</a></li>
      <li class="nav-bar__item"><a href="#">Sport</a></li>
      <li class="nav-bar__item"><a href="#">Hoc duong</a></li>
      <li class="nav-bar__item"><a href="#">Video</a></li>
      <li class="nav-bar__item"><a href="#">...</a></li>
    </ul>
  </div>
</section>
