<section class="nav-bar">
  <div class="container">
    <ul class="nav-bar__list">
      <li class="nav-bar__item"><a href="#">Star</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">TV Show</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Cine</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Musik</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Beauty&Fashion</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Xem mua luon</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Doi song</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">An-quay-di</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Xa hoi</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">The gioi</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Sport</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Hoc duong</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">Video</a><span>|</span></li>
      <li class="nav-bar__item"><a href="#">...</a><span>|</span></li>
    </ul>
  </div>
</section>
<section class="footer_info ">
  <div class="container">
    <div class="row">
      <div class="column-item side-bar__one">
        <h6>TRỤ SỞ HÀ NỘI</h6>
        <p>Tầng 21, tòa nhà Center Building, Hapulico Complex, số 1 Nguyễn Huy Tưởng, p. Thanh Xuân Trung, quận Thanh Xuân, Hà Nội. Điện thoại: 024 7309 5555, máy lẻ 370.</p>
        <a href="#">Xem ban do</a>
        <h6>TRỤ SỞ TP.HỒ CHÍ MINH</h6>
        <p>Tầng 4 Tòa nhà 123, 123 Võ Văn Tần, phường 6, quận 3, Tp. HCM Điện thoại: 028. 7307 7979</p>
        <a href="#">xem ban do</a>
      </div>
      <div class="column-item side-bar__two">
        <h6>CHỊU TRÁCH NHIỆM QUẢN LÝ NỘI DUNG</h6>
        <p>Bà Nguyễn Bích Minh</p>
        <h6>HỢP TÁC TRUYỀN THÔNG</h6>
        <p>024.73095555 (máy lẻ 62.370)</p>
        <a href="#">marketing@kenh14.vn</a>
        <h6>LIÊN HỆ QUẢNG CÁO</h6>
        <p>0942 86 11 33</p>
        <a href="#">giaitrixahoi@admicro.vn</a><br>
        <button class="Chat">Chat voi tu van vien</button><br>
        <button class="Detail">Xem chi tiet</button>
        <h6>Chinh sach bao mat</h6>
      </div>
      <div class="column-item side-bar_three">
        <a href="#"><img src="./../../assets/images/logo2.PNG"></a>
        <p>© Copyright 2007 - 2021 – <strong>CÔNG TY CỔ PHẦN VCCORP</strong> </p>
        <p>Tầng 17, 19, 20, 21 Tòa nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.</p>
        <p>Giấy phép số 2215/GP-TTĐT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 10 tháng 4 năm 2019</p>
      </div>
    </div>
  </div>
</section>
