<section class="body-content">
  <div class="container">
    <div class="row">
      <div class="col-auto content__main">
          <div class="sidebar-one">
            <img src="./../../assets/images/gt.PNG">
              <h4>Vụ 2 nữ sinh rơi chung cư tử vong ở TP.HCM: Phụ huynh cho biết cả 2 có tình cảm và có ý định tự tử</h4>
              <p>Gia đình của 2 cô gái đã đến cơ quan chức năng làm việc. Sau khi xem hình ảnh qua camera, 2 phụ huynh xác nhận 2 cô gái tử vong tại chung cư là con của mình, còn đang đi học.</p>
          </div>
          <div class="sidebar-two">
            <img src="./../../assets/images/ts.PNG">
            <h4>Vụ 2 nữ sinh rơi chung cư tử vong ở TP.HCM: Phụ huynh cho biết cả 2 có tình cảm và có ý định tự tử</h4>
          </div>
      </div>
      <div class="col-auto content__ads">
      </div>
    </div>

  </div>
</section>
<section class="body-content">
  <div class="container">
    <div class="row">
      <div class="col-auto content__main">
          <div class="sidebar-one">
            <img src="./../../assets/images/gt.PNG">
              <h4>Vụ 2 nữ sinh rơi chung cư tử vong ở TP.HCM: Phụ huynh cho biết cả 2 có tình cảm và có ý định tự tử</h4>
              <p>Gia đình của 2 cô gái đã đến cơ quan chức năng làm việc. Sau khi xem hình ảnh qua camera, 2 phụ huynh xác nhận 2 cô gái tử vong tại chung cư là con của mình, còn đang đi học.</p>
          </div>
          <div class="sidebar-two">
            <img src="./../../assets/images/ts.PNG">
            <h4>Vụ 2 nữ sinh rơi chung cư tử vong ở TP.HCM: Phụ huynh cho biết cả 2 có tình cảm và có ý định tự tử</h4>
          </div>
      </div>
      <div class="col-auto content__ads">
      </div>
    </div>

  </div>
</section >

<section class="container">
    <div class="row">
      <div class="col-auto content__main">
        <div class="grid">
          <div class="item1">
            <a href="#">
              <img src="./../../assets/images/item01.PNG">
              <h6>Văn hóa đi làm "thích thì nghỉ": Tại Gen Z dễ tổn thương, hay vì ngoài kia nhiều cơ hội?</h6>
            </a>
            <h6>Học đường</h6>
            <p>Không ít người lâu nay vẫn cho rằng chỉ những sự đụng chạm hay quấy rối bằng hành động mới đáng lên án, mà quên rằng chính việc góp một câu đùa, một lời bình phẩm, trêu chọc,.. cũng là một kiểu bình thường hóa sự thiếu tôn trọng phụ nữ.</p>
          </div>
          <div class="item2">
            <a href="#">
              <img src="./../../assets/images/item02.PNG">
              <h6>Văn hóa đi làm "thích thì nghỉ": Tại Gen Z dễ tổn thương, hay vì ngoài kia nhiều cơ hội?</h6>
            </a>
          </div>
          <div class="item3">
            <a href="#">
              <img src="./../../assets/images/item03.PNG">
              <h6>Juky San: Tôi liều và độc đoán nữa, tôi sẽ là một "nàng thơ" cá tính và mạnh mẽ!</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto content__ads"></div>
    </div>
</section>
<section class="container">
    <div class="row">
      <div class="col-auto content__main">
        <div class="ls-grid">
          <ul class="grid-list">
            <li class="list-item1">
              <img src="./../../assets/images/list-item4.PNG" >
            </li>
            <li class="list-item2">
              <h6>Hội chị em "săn lùng" info trai đẹp làng Liên Quân, hóa ra là "soái ca đi rừng" team Khánh Hòa vừa vô địch Tứ Phương Đại Chiến</h6>
              <strong>eSport</strong>
              <p>Trong trận chung kết giải đấu Liên Quân Mobile: Tứ Phương Đại Chiến vừa qua, game thủ KH.Gầyy không chỉ gây ấn tượng ..</p>
            </li>
        </ul>
        <ul class="grid-list">
          <li class="list-item1">
            <img src="./../../assets/images/list-item1.PNG" >
          </li>
          <li class="list-item2">
            <h6>Vợ và Tuesday, đàn ông yêu người nào hơn?</h6>
            <strong>Đời sống</strong>
            <p>Tình yêu có sự xuất hiện của người thứ ba thì cũng không thể gọi là tình yêu được nữa.</p>
          </li>
      </ul>
      <ul class="grid-list">
        <li class="list-item1">
          <img src="./../../assets/images/list-item5.PNG" >
        </li>
        <li class="list-item2">
          <h6>4 vấn đề tai hại mà bạn sẽ không muốn gặp phải nếu còn tiếp diễn thói quen dùng điện thoại trước khi ngủ</h6>
          <strong>Sức khỏe-Giới tính</strong>
          <p>Điện thoại di động đã trở thành vật bất ly thân đối với nhiều người nhưng bạn cần sửa ngay thói quen dùng món đồ này ...</p>
        </li>
    </ul>
        </div>


      </div>
    </div>
</section>
